.btn{
    background-color: #00365e;
    border-color: #00365e;
    
  }
  
  #login-content {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-position: center;
  }
  
  #derecho {
    /*display: flex;
    align-items:center;
    justify-content:center;*/
    
    text-align: center;
    width: 100%;
    
    padding:20px 20px 20px 50px;
    box-sizing: border-box;
  }
  
  #contenedorcentrado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    
    min-width: 380px;
    max-width: 900px;
    width: 90%;
    
    background-color: #343738;
    
    /*opacity: 0.50;
    filter: alpha(opacity=50);*/
  
  }
  
  #imagenLogin {
    width: 100%;
    min-width: 320px;
    padding: 30px 30px 50px 30px;
    background-color: #719192;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    opacity: 1;
    filter: alpha(opacity=1);
  }
  
  #registerB{
    /* align-items: center; */
    /* padding-top: 40px; */
    /* padding-bottom: 40px; */
    color: white;
    background-image: radial-gradient(circle at 87.04% 18.92%, #00ffff 0, #40f6ff 25%, #53bcf2 50%, #4f86aa 75%, #42586c 100%);
  }

  #logoText{
      text-align: center;
  }